 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
	      <p><b>Thank you to all the speakers and attenders of this fifth edition of the JDSE. With 96 registrations and an average of 60 participants for each presentation, it was a success, despite the particular context of this online version. Find and share all the speeches on the Labex DigiCosme <a href="https://www.youtube.com/watch?v=f2NggW7z-2M&list=PLctT2z2w50dTgFIDngw-M\A8g2KNPqSLy1" style="color: red">YouTube channel</a>. See you for the next edition ! </b></p>
	      <br>
	      <p>The fifth edition of the Paris-Saclay / IPP Junior Conference on Data Science and Engineering (JDSE) is addressed to first year Ph.D. students, M2 students and third year students at Engineering schools at Paris-Saclay and Institut Polytechnique de Paris. It will offer to 6 students the opportunity to present some scientific work developed during their internships or first year of Ph.D. thesis, and also to grow their critical sense thanks to a professional conference hosting prestigious invited speakers, academics and industry scientists. This edition should have been held in September, but due to the sanitary conditions, it is to be held <b>online</b> in early February. 
	      </p>
	      <br>
	      <p>The conference aims at gathering a vast audience and is an excellent means of discovering research activities in Data Science and Engineering.
	      </p>
	      <br>
	      <!--
	      <p>
		<i>Ph.D. students are also involved in the conference organization as reviewers, session chairs, organizers of networking events.
		  <br> Please <u><a href="mailto:contact@junior-data-science.org" target="_top" style="color: #FFF">contact us </a></u> if you are interested in joining the team. </i>
	      </p> -->
	        <h3>Past editions</h3>
	      <p> 
		<ul style="font-size:20px;">      
		 <u><li><a href="https://bigmine.github.io/jDSParis16/" target="_blank" style="color: #FFF">First edition (JDSE 2016)</a></u>
                 <u><li><a href="https://bigmine.github.io/jDSEParis17/" target="_blank"  style="color: #FFF">Second edition (JDSE 2017)</a></u>
		 <u><li><a href="https://jdse-paris.github.io/jDSE2018/" target="_blank"  style="color: #FFF">Third edition (JDSE 2018)</a></u>  
		 <u><li><a href="https://jdse-paris.github.io/jDSE2019/" target="_blank"  style="color: #FFF">Fourth edition (JDSE 2019)</a></u>
                </ul>
		</p>    
	      <br>

	      <!--
	      <p>
		<a href="https://twitter.com/{{ site.twitter_username }}" style="color: #FFF"><i class="fa fa-twitter"></i> Twitter
		{% for network in site.social %}
		{{ network.share }}
		<br>
                  <a href="{{ network.url }}"style="color: #FFF"><i class="fa fa-fw fa-{{ network.title }}"></i>  Follow us on {{ network.title }}! </a>
		  {{ network.hashtag }} 
		  {% endfor %} 
	      </p> -->
		
	      <!-- <br>
	      <p>
		<small> <small> <small> Photo credits: I. Manolescu, M2 BIBS students, L. Pauleve </small> </small> </small>
	      </p> -->

            </div>
        </div>
    </section>
