    <!-- Header -->
    <header>
      <div class="container">
        
	<div class="row">
          <div class="col-lg-12">
            <!--  <img class="img-responsive" src="img/paris-saclay.png" alt="">   -->
            <div class="intro-text">
              <span class="name">{{ site.title }}</span>
              <hr>
              <span class="skills">{{ site.skills }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>
   
    <br>
    <div class="container">
      <div class="row">      
	<div class="col-lg-6">
          <div class="logo">
            <a href="https://www.universite-paris-saclay.fr/en"  target="_blank">
              <img src="img/saclay-logo-BW.png"/>
            </a>
          </div>
	 </div>

         <div class="col-lg-6">
          <div class="logo">
            <a href="https://www.ip-paris.fr/en"  target="_blank">
              <img src="img/ip_paris_logo.jpg"/>
            </a>
          </div>
        </div>
      </div>
      <br>
      
      <div class="row">    

	<div class="col-md-offset-0 col-md-2">
          <div class="logosm">
            <a href="https://digicosme.lri.fr/"  target="_blank">
              <img src="img/LogoDigiSaclayHD.png"/>
            </a>
          </div>
	</div>
	
	<!--<div class="col-md-offset-0  col-md-3">
          <div class="logosm">
            <a href="https://www.universite-paris-saclay.fr/fr/recherche/departement/sciences-et-technologies-de-linformation-et-de-la-communication-stic"  target="_blank">
              <img src="img/departement_stic.png"/>
            </a>
          </div>
	</div>-->
	
	
	<div class="col-md-offset-1  col-md-2">
	  <div class="logosm">
            <a href="http://www.fondation-hadamard.fr/fr/lmh"  target="_blank">
              <img src="img/labex-hadamard.png"/>
            </a>
	  </div>
	</div>
	      
	 <div class="col-md-offset-0  col-md-3">
        <div class="logosm">
          <a href="http://dataia.eu/"  target="_blank">
            <img src="img/LOGO-DATAIA-UK-BLEU.png"/>
          </a>
        </div>
      </div>
	      
       <div class="col-md-offset-1 col-md-2">
          <div class="logosm">
            <a href="http://www.datascience-paris-saclay.fr/"  target="_blank">
              <img src="img/lidex-cds.png"/>
            </a>
          </div>
      </div>
	
	
	<!--<div class="col-md-offset-0  col-md-1">
	  <div class="logosm">
            <a href="https://www.universite-paris-saclay.fr/fr/recherche/departement/sciences-de-la-vie-sdv"  target="_blank">
          <img src="img/logo_carre_SDV.jpg"/>
            </a>
	  </div>
	</div>-->
      
  </div>    
    </div>    
</div>    

   <br>
   




