 <!-- News Section -->
    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>News</h2>
                    <hr>
                </div>
            </div>
            <div class="row">

<!--
              <p>
		Congratulations to <b>Ismael Lemhadri</b> (CMAP, Ecole polytechnique, <i>“Community recovery in stochastic block models using semi-definite programming”</i>, work in close collaboration with Youssouf Emin, Ecole Polytechnique) and <b>Mathurin Massias</b> (Inria Saclay, LTCI, Télécom ParisTech, <i>“From safe screening rules to working sets for faster Lasso-type solvers”</i>) who won the best talk award (ex-aequo) ; to <b>Rafael Pinot</b> (Institut LIST, CEA Paris-Saclay, <i>“Nodes clustering in a graph under differential privacy constraints”</i>) who won the best poster award ; to <b>Margaux Brégère</b> (EDF R&D, <i>"Bandit algorithms for power consumption control"</i>) for her dynamic talk and promising work.
	      </p>
	      <br>
	      <p>
		<a href=https://www.universite-paris-saclay.fr/fr/actualite/jdse-2017-les-jeunes-chercheurs-a-loeuvre> An article about the JDSE2017.</a>
	      </p>
	      <p>
		<br>
		<i>Watch the JDSE2017 conference <a href=https://webcast.in2p3.fr/container/jdse>replay.</a> </i>
	      </p> 
	      <p> The booklet with all extended abstracts can be found <a href="{{ site.url }}/assets/JDSE17_booklet_compressed.pdf"><u>here</u>.</a>
	      </p>

	      <p>
	      {% for network in site.social %}
	      <br>
                  <a href="{{ network.url }}"><i class="fa fa-fw fa-{{ network.title }}"></i>  Follow us on {{ network.title }}! </a> You will find pictures of JDSE2017 and information about JDSE2018 before anyone else!
		  {% endfor %}
	      </p>
	      <br>  -->
	      <!-- <p>
		      <b>28/08/2019</b>. <b>The registration is now close. The names of the students selected to attend the Google visit will be communicated shortly.</b>
	      </p> 
		-->
	      
	      <p>
		<b>14/12/2020</b>. <b>We are very pleased to announce that our speakers for this edition of the JDSE will be <a href="https://www.techfak.uni-bielefeld.de/~bhammer/">Barbara Hammer</a> (Professor of Machine Learning, Bielefeld University), <a href="http://www.stats.ox.ac.uk/~doucet/">Arnaud Doucet</a> (Professor of Statistics, University of Oxford & Research Scientist, Deepmind) and <a href="https://ptrckprz.github.io/">Patrick Perez</a> (Scientific director, valeo.ai). </b>
	      </p>
	      <!--
              <p>
		 <b>22/04/2019</b>.  The paper submission system is now open until Tuesday the 4th of June, 2019, midnight (see the call for submissions below). We invite M2 and Ph.D. students from the Université Paris-Saclay to submit an extended abstract of up to 3 pages describing new or preliminary results for a 15 minutes talk or a poster on <a href="https://easychair.org/conferences/?conf=jdse2019" target="_top">https://easychair.org/conferences/?conf=jdse2019</a>.
	      </p>
	      <p>
		 <b>01/02/2019</b>. <a href="mailto:contact@junior-data-science.org" target="_top">Contact us </a> as early as you want if you would like to be part of the junior or senior program or local committees of JDSE2019 
		 i.e. to participate to one or several of the following tasks: planning the event beforehand, spreading the word, organizing the student Friday activity, reviewing scientific papers, chairing sessions, helping with logistics during the conference, and so on. 
	      </p>
	      --> 
            </div>
        </div>
    </section>
