<!-- Program Section -->
    <section class="success" id="program">
<!--    <section class="success_dark" id="program"> -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                 
		  <h2>Program</h2>
                    <hr class = "primary">
                </div>
            </div>

          
            <div class="row">
	      
              <h3 >Monday 1 February 2021</h3>
              
	      <p>
                <br>
		<small><small> 9:30 - 10:00: Welcome message and opening talk - Bruno Defude </small></small>
		<br>	
		<h6>10:00 - 11:00: <u> Arnaud Doucet </u> (University of Oxford & Deepmind) </h6>
		<i> Auto-Encoding Differentiable Particle Filtering </i> 
		<!-- <i>Chair: Gianluca Quercini</i>
                <br> -->
                <br>
                <h6> 11:00 - 12:00:   Monday Session</h6>
		<!-- <i>Chair: Anderson Carlos Ferreira da Silva</i><br><br> -->
		11:00 - 11:20: Mandy Ibene - 
		<i> A multi-objective algorithm for interactive prediction of RNA complexes </i> - <u><a href="assets/Ibene.pdf", style="color: #FFF">Abstract</a></u>
		<br>
		11:20 - 11:40: Martin Cepeda - 
		<i> COVID Risk Mitigation </i> - <u><a href="assets/Cepeda.pdf", style="color: #FFF">Abstract</a></u>
                <br>
                11:40 - 12:00: Manon Mottier -
		<i> Deinterleaving and Clustering unknown RADAR pulses </i> - <u><a href="assets/Mottier.pdf", style="color: #FFF">Abstract</a></u>
                <br>
              </p>
              <br>
              <p>
		<h6>14:00 - 15:00: <u> Patrick Perez </u> (valeo.ai) </h6>
		<i> Challenges of machine learning for autonomous driving </i>
		<!-- <i>Chair: Sylvain Le Corff</i> -->
              </p> 
              <br>
              
	      <hr>
	      <br>
	      
              <h3 >Tuesday 2 February 2021</h3>
              
	      
	      <p>
		<h6> 10:00 - 11:00: <u> Barbara Hammer </u> (Bielefeld University) </h6>
		<i> Learning with reject option, drift, and interpretability </i> </h6>
		<!-- <i>Chair: Gianluca Quercini</i> -->
		<br>
		<h6> 11:00 - 12:00:   Tuesday Session</h6>
                <!-- <i>Chair: Anderson Carlos Ferreira da Silva</i><br><br> -->
                11:00 - 11:20: Benoît Malezieux - 
		<i> Comparing Analysis and Synthesis in Deep Prior Learning for Inverse Problems Resolution </i> - <u><a href="assets/Malezieux.pdf", style="color: #FFF">Abstract</a></u>
		<br>
                11:20 - 11:40: Anfu Tang - 
		<i> Global alignment for relation extraction in Microbiology </i> - <u><a href="assets/Tang.pdf", style="color: #FFF">Abstract</a></u>
		<br>
                11:40 - 12:00: Alexis Pister - 
                <i> PK-Clustering: Integrating Prior Knowledge in Mixed-Initiative Social Network Clustering </i> - <u><a href="assets/Pister.pdf", style="color: #FFF">Abstract</a></u>
                <br>		
              </p>

              <br>
              <hr>
	       
	      <h3 >Student posters</h3>
	      
               <p>
  
		<small>Juliana Damurie - <u><i><a href="assets/PosterDamurie.pdf", style="color: #FFF"> Neural Networks for Fourier Pytchography Microscopy and Application to Malaria</a></u></i></small>
		<br>
		<small>Xuanlong Yu - <u><i><a href="assets/PosterYu.pdf", style="color: #FFF"> Uncertainty of Optical Flow: Regression Calibration Insights</a></u></i></small>  
	      </p>
            </div>

       


<!--
<div class="row" id="demoposters">
      <br>
      <br>

      <h5>Demos</h5>
      <i> Posters will be presented during both sessions (Thursday and Friday) by all authors. Please design your poster in an A0 format (maximum size), portrait orientation. </i>
                 
<br> <br>Grouping Answers in Ontology-Based Query Answering: the RDFS case  <br> Maxime Buron and Michaël Thomazo  <br> <aff><i><small> INRIA ; LIX, Ecole Polytechnique ; Université Paris-Saclay </aff></i></small>  <br><br>
Forecasting bike sharing demand  <br> Aurélie Fréchet  <br> <aff><i><small> Ecole Nationale de la Statistique et de l’Analyse de l’Information, EDF R&D </aff></i></small>  <br><br>
Repairing regular expressions by adding missing words  <br> Thomas Rebele, Katerina Tzompanaki and Fabian M. Suchanek  <br> <aff><i><small> Télécom ParisTech ; Université Cergy-Pontoise </aff></i></small>  <br><br>

      <h5>Posters</h5>
      <i> Posters will be presented during both sessions (Thursday and Friday) by all authors. Please design your poster in an A0 format (maximum size), portrait orientation. </i>

<br><br><br>
Beyond stochastic gradient for maximum likelihood based ICA on EEG and MEG  <br> Pierre Ablin, Alexandre Gramfort and Jean-François Cardoso  <br> <aff><i><small>  Telecom Paristech ; Inria, Parietal team ; Institut d’Astrophysique de Paris </aff></i></small>  <br><br>
Alzheimer’s disease diagnosis using synchrony and disorder measures  <br> Amira Aljane and Nesma Houmani  <br> <aff><i><small> SAMOVAR, Télécom SudParis, CNRS, Université Paris-Saclay </aff></i></small>  <br><br>
Deep specification and verification of SQL compilation chain  <br> Léo Andrès, Raphaël Corner and Eunice Martins  <br> <aff><i><small> LRI, Université de Paris-Sud, Paris-Saclay </aff></i></small>  <br><br>
Segmentation and Detection in large microscopy for neural development and organization  <br> Tania Bacoyannis, Anatole Chessel, Emmanuel Beaurepaire, Jean Livet and Lamiae Abdeladim  <br> <aff><i><small> Laboratory of Optics and Biosciences, Ecole Polytechnique, Institut de la Vision </aff></i></small>  <br><br>
Multi-omics data integration to model iron metabolism in pathogenic yeast species  <br> Thomas Denecker and Gaëlle Lelandais  <br> <aff><i><small> Institut de Biologie Intégrative de la Cellule, Université de Paris-Sud </aff></i></small>  <br><br>
Finding Interesting Aggregates in RDF Graphs  <br> Yanlei Diao, Ioana Manolescu and Shu Shang  <br> <aff><i><small> Ecole Polytechnique, Inria Saclay, and Université Paris-Saclay </aff></i></small>  <br><br>
Estimation non-paramétrique pour des réseaux aléatoires  <br> Yann Issartel, Christophe Giraud and Nicolas Verzelen  <br> <aff><i><small> Université Paris-Sud XI, Laboratoire de Mathématiques d'Orsay ; INRA, SupAgro, Montpellier </aff></i></small>  <br><br>
Modeling Spatio-Temporal Data with Operator-Valued Kernel Methods: an Application to Epidemics  <br> Camille Jandot and Florence d'Alché-buc  <br> <aff><i><small> LTCI, Télécom ParisTech </aff></i></small>  <br><br>
Efficient Learning of Functional Outputs using Operator Random Fourier Features  <br> Alex Lambert, Romain Brault and Florence d'Alché-Buc  <br> <aff><i><small> LTCI, Télécom ParisTech </aff></i></small>  <br><br>
Breaking boundaries between language and database runtimes  <br> Julien Lopez  <br> <aff><i><small> LRI, Université Paris-Sud </aff></i></small>  <br><br>
Smart ease : reducing energy costs by storage and consumption forcasts  <br> Charles Lorenzo and Pierre-Louis Guhur  <br> <aff><i><small> EEA, ENS Paris-Saclay </aff></i></small>  <br><br>
Modelizing transformation processes with ontology and probabilistic relational models  <br> Melanie Munch  <br> <aff><i><small> UMR MIA-Paris, AgroParisTech, INRA, Université Paris-Saclay </aff></i></small>  <br><br>
Exploring Data Mining Techniques for Opportunistic Mobile Sensing Making Sense of Spatial Multivariate Time Series  <br> Ahmad Mustapha, Yehia Taher and Karine Zeitouni  <br> <aff><i><small> DAVID, Université Versailles Saint-Quuentin </aff></i></small>  <br><br>
Big Data Internship: Exploration & analysis of mobile communication's technical data - ByPass Fraud Detection  <br> El Mehdi Oumouss  <br> <aff><i><small> Télécom Paristech, Université Paris-Saclay
 </aff></i></small>  <br><br>
Streaming Comparison Benchmark between Spark and Flink using Kafka  <br> Carlos Perez  <br> <aff><i><small> Université Paris-Saclay </aff></i></small>  <br><br>
Nodes clustering in a graph under differential privacy constraints  <br> Rafael Pinot  <br> <aff><i><small> Institut LIST, CEA, Université Paris-Saclay </aff></i></small>  <br><br>
Aircraft Dynamics Identification  <br> Cédric Rommel, Frédéric Bonnans, Pierre Martinon and Baptiste Gregorutti  <br> <aff><i><small> CMAP, Ecole Polytechnique ; INRIA, Safety Line </aff></i></small>  <br><br>
Automatic Machine Learning: benchmark and future work  <br> Lisheng Sun  <br> <aff><i><small> LRI, Université Paris-Sud, Paris-Saclay, </aff></i></small>  <br><br>
Modeling Spatially-Correlated Cellular Networks by Applying Inhomogeneous Poisson Point Processes  <br> Shanshan Wang and Marco Di Renzo  <br> <aff><i><small> Laboratoire des signaux et systèmes, Centrale Supélec, Université Paris-Saclay, CNRS </aff></i></small>  <br><br>
Channel modeling analysis of visible light communication by stochatsic geometry  <br> Xiaojun Xi and Marco Di Renzo  <br> <aff><i><small> Laboratoire des signaux et systèmes, Centrale Supélec, Université Paris-Saclay, CNRS </aff></i></small>  <br><br>
      
    
-->
     </div>

   </div>
</section>
    
