 <!-- Registration Section -->
    <section class="success" id="registration">  <!--success-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Registration</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                   <p align="justify">

This fourth edition of the Paris-Saclay Junior Conference on Data Science and Engineering (JDSE) 
			   is only addressed  to students 
			   and researchers at the University Paris-Saclay. Registration is free but mandatory. 
</p>
			<p align="justify">The registration is now <b>closed</b>. 


<!--
<u><a href="https://goo.gl/forms/ELBDfVZTiMNJEG473" target="_blank" style="color: white;"> conference registration form</a></u> and the <u> <a href="https://docs.google.com/forms/d/e/1FAIpQLSfia7Yp-aZYHnfUHyVhx201Meg0ZcMPbkLXTLQc3bwBzyEucg/viewform" target="_blank" style="color: white;"> Student Afternoon Activity Quizz </a></u>  The form is closed. -->
</p>
		<!--<br> <iframe src="https://goo.gl/forms/ELBDfVZTiMNJEG473" width="75%" height="500" frameborder="0" marginheight="0" marginwidth="0">Chargement en cours...</iframe>-->
		<br> <br>
<!--		<br> <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfia7Yp-aZYHnfUHyVhx201Meg0ZcMPbkLXTLQc3bwBzyEucg/viewform?embedded=true" width="75%" height="500" frameborder="0" marginheight="0" marginwidth="0">Chargement en cours...</iframe>-->


                </div>
				<!--                
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="glyphicon glyphicon-user"></i> REGISTER         </a>
                </div>
				-->
            </div>
        </div>
    </section>
    
