 <!-- Sponsors Section -->
 <section id="sponsors">
   <div class="container">

     <div class="row">
       <div class="col-lg-12 text-center">
         <h2>Partners and sponsors</h2>
         <hr>
       </div>
     </div>
     
     <div class="row">      
       <div class="col-lg-6">
         <div class="logo">
           <a href="https://www.universite-paris-saclay.fr/en"  target="_blank">
             <img src="img/saclay-logo-BW.png"/>
           </a>
         </div>
       </div>

       <div class="col-lg-6">
          <div class="logo">
            <a href="https://www.ip-paris.fr/en"  target="_blank">
              <img src="img/ip_paris_logo.jpg"/>
            </a>
          </div>
        </div>
       
     </div>
     <br>
     
    <div class="row">    

      <div class="col-md-offset-0 col-md-2">
        <div class="logosm">
          <a href="https://digicosme.lri.fr/"  target="_blank">
            <img src="img/LogoDigiSaclayHD.png"/>
          </a>
        </div>
      </div>
      
         <div class="col-md-offset-1  col-md-2">
      <div class="logosm">
        <a href="http://www.fondation-hadamard.fr/fr/lmh"  target="_blank">
          <img src="img/labex-hadamard.png"/>
        </a>
      </div>
    </div>
    
      <div class="col-md-offset-0  col-md-3">
        <div class="logosm">
          <a href="http://dataia.eu/"  target="_blank">
            <img src="img/LOGO-DATAIA-UK-BLEU.png"/>
          </a>
        </div>
      </div>
      
      <div class="col-md-offset-1 col-md-2">
        <div class="logosm">
          <a href="http://www.datascience-paris-saclay.fr/"  target="_blank">
            <img src="img/lidex-cds.png"/>
          </a>
        </div>
      </div>
    
 
    
    <!--<div class="col-md-offset-0  col-md-1">
      <div class="logosm">
        <a href="https://www.universite-paris-saclay.fr/fr/recherche/departement/sciences-de-la-vie-sdv"  target="_blank">
          <img src="img/logo_carre_SDV.jpg"/>
        </a>
      </div>
    </div>-->
    
    </div>

    <br> <br>    
    <!--
    <div>
      <small>
	<center>
	  This work was partially supported by a public grant as part of the Investissement d'avenir project (ANR-11-LABX-0056-LMH), and by Labex DigiCosme (ANR-11-LABEX-0045-DIGICOSME), operated by ANR as part of the program Investissement d'Avenir Idex Paris Saclay (ANR-11-IDEX-0003-02).
	</center>
      </small>      
    </div>
   --> 
   </div>

    <!--

	    <div class="row">      
	      <div class="col-lg-12">
		<div class="logo">
		  <a href="https://www.universite-paris-saclay.fr/en"  target="_blank">
		    <img src="img/saclay-logo-BW.png"/>
		  </a>
		</div>
	      </div>
	    </div>
	    <br>

            <div class="row">    
              <div class="col-md-offset-3 col-md-1">
                <div class="logo">
                  <a href="https://digicosme.lri.fr/"  target="_blank">
                    <img src="img/LogoDigiSaclayHD.png"/>
                  </a>
                </div>
              </div>

               <div class="col-md-offset-2 col-md-2">
                <div class="logo">
                  <a href="http://www.datascience-paris-saclay.fr/"  target="_blank">
                    <img src="img/lidex-cds.png"/>
                  </a>
                </div>
              </div>
            </div>
        </div>
-->

    </section>
