<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include header.html %}
    {% include about.html %}
    {% include news.html %}
    {% include portfolio_grid.html %}
    <style>
      .hidethis {
      display: none;
      }
    {% include venue.html %}  
    </style>  
    {% include program.html %}
    {% include registration.html %}
    {% include call.html %}
    {% include dates.html %}
    <style>
      .hidethis {
      display: none;
      }
    </style>
    {% include organizers.html %}   
    {% include sponsors.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>
